<div class="offer" ng-repeat="offer in offers">
    <img ng-src="./images/{{offer.imgUrl}}">
    <div class="offer-info">
        <div>
            <span class="offer-title">{{ offer.title }}</span>
            <span class="offer-desc">{{ offer.desc }}</span>
        </div>
        <div>
            <hr>
            <div class="offer-info-footer">
                <span class="offer-price">€{{ offer.price }}</span>
                <a href="#!offer/{{ $index }}" class="my-btn offer-btn">Add to cart!</a>
            </div>
        </div>
    </div>
</div>

<div class="how-it-works">
    <p>How it works</p>
    <hr>
    <div class="how-it-works-path">
        <img src="images/s1.png">
        <img class="how-arrow how-a1" src="images/path.png">
        <img src="images/s2.png">
        <img class="how-arrow how-a2" src="images/path.png">
        <img class="how-dev" src="images/s3.png">
        <img class="how-arrow how-a3" src="images/path.png">
        <img class="how-rate" src="images/s4.png">
    </div>
</div>

<div class="contact">
    <div class="contact-info-container">
        <p class="contact-info">Want to know more about us?
            Feel free to ask any question!</p>
        <img src="./images/help.png">
    </div>
    <form class="contact-form" action="">
        <input type="text" placeholder="Name" ng-model="name">
        <input type="text" placeholder="E-mail" ng-model="email">
        <textarea cols="30" rows="5" placeholder="Whats on your mind?" ng-model="msg"></textarea>
        <button class="my-btn contact-btn" ng-click="sendQuestion()">Send!</button>
    </form>
</div>